.bg {
    background-image: url("../images/nyc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: 50% 0;
}

body{
	color: white;
	background-color: #222;
}

.countdown{
	padding: 10rem;
}